{% extends 'base.html.twig' %}



{% block body %}




{# <h3>{{nombrecliente}}</h3> #}

<table class="table table-striped table-inverse table-responsive">
    
        <tbody> 
            <tr>   {{form_start(form)}}                       
                <td style="font-size:60px;">{{form_label(form.producto)}}</td>
                <td>{{form_widget(form.producto, {'attr':{'class':'','style':'width: 60%; font-size:60px;'}} )}}</td>
            </tr>
            <tr>               
                <td style="font-size:60px;">{{form_label(form.cantidad)}}</td>
                <td style="font-size:60px;">{{form_widget(form.cantidad, {'attr':{'class':'','style':'width: 30%;'}} )}}</td>
            </tr>
<tr>
            <td style="font-size:40px;">{{form_label(form.fiado)}}</td><td style="font-size:40px;">{{form_widget(form.fiado, {'attr':{'class':'form-control','style':'width: 50%;'}} )}}</td>
            </tr>
            <tr>               
                <td style="font-size:45px;"><div class=" text text-danger text-lg-center " id="labelinfo"></div></td>
                <td style="font-size:40px;">{{form_widget(form.submit)}}</td>
                {{form_end(form)}}
            </tr>
        </tbody>
</table>
        
{% endblock %}

{% block javascripts %}

<script>
function funcion() {
 
  document.getElementById('pedido_editar_submit').style.visibility = 'hidden';
  document.getElementById('labelinfo').innerHTML = "Procesando....";
 
  return true;
}
</script>


	
{% endblock %}

